/*
General info

text main colour: #333;
text light grey: #999;
text <h> blue: #1867a4;
link colour: #37a1f2;
link colour hover: #f38c00;
text ft blue: #718490;
text copyright colour: #455663;

font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;

button blue lines: #5aa4de;
button dark blue hover: #2b4e6a;

gradient:
/* background: #1867a4; /* Old browsers */
/* background: -moz-linear-gradient(-45deg, #1867a4 0%, #0d8a95 74%, #0d8a95 74%); /* FF3.6-15 */
/* background: -webkit-linear-gradient(-45deg, #1867a4 0%,#0d8a95 74%,#0d8a95 74%); /* Chrome10-25,Safari5.1-6 */
/* background: linear-gradient(135deg, #1867a4 0%,#0d8a95 74%,#0d8a95 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1867a4', endColorstr='#0d8a95',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

/*
/* background: #0e171d; /* Old browsers */
/* background: -moz-linear-gradient(-45deg, #0e171d 0%, #1a2a36 100%); /* FF3.6-15 */
/* background: -webkit-linear-gradient(-45deg, #0e171d 0%,#1a2a36 100%); /* Chrome10-25,Safari5.1-6 */
/* background: linear-gradient(135deg, #0e171d 0%,#1a2a36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e171d', endColorstr='#1a2a36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

/*
BGs
bg blue light: #1867a4;
bg blue dark: #202c35;
bg blue copyright: #1a2229;

/* RESET */
* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 4px;
	overflow: hidden;
}
a {
	-webkit-transition: .2s;
	transition: .2s;
}
	a *, input[type=submit] {
		-webkit-transition: .1s;
		transition: .1s;
	}

strong {
	font-weight: bold;
}

.no-scroll {
	overflow: hidden;
}
.mobile-only {
	display: none !important;
}

/* ---------- */

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #333;
	background-color: #f6f6f6;
}

p {
	margin-bottom: .5em;
}
	p.subtitle {
		font-size: 1.15em;
		line-height: 1.4em;
	}
a {
	color: #37a1f2;
}
	a:hover {
		color: #f38c00;
	}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #1867a4;
}
	h1 {
		font-size: 2.15em;
		line-height: 2em;
		color: #fff;
		text-shadow: 0 3px 4px rgba(0,0,0,.28);
		text-align: center;
	}
	h2 {
		font-size: 1.7em;
		line-height: 1.4em;
		margin-bottom: .5em;
	}
		h2.h2-quote {
			text-align: center;
			margin: 3em auto 1.5em;
		}
	h3, h4 {
		font-size: 1.15em;
		line-height: 1.4em;
		margin-bottom: .5em;
	}
		h4 {
			color: #999;
		}
h5 {
	color: #666;
	text-transform: uppercase;
	text-align: center;
	margin: 4em auto 3em;
}
	h5::before, h5::after {
		content: "";
		display: inline-block;
		width: 20%;
		height: 1px;
		background-color: #999;
	}
		h5::before {
			margin-right: 2em;
		}
		h5::after {
			margin-left: 2em;
		}

.cta-1, .cta-1-white, .cta-2 {
	font-size: 1.21em;
	line-height: 1em;
	color: #fff;
	background-color: #1867a4;
	border-radius: 50px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 18px 34px;
}
	.cta-1:hover {
		color: #fff;
		background-color: #2b4e6a;
	}
.cta-1-white {
	background-color: #fff;
	color: #1867a4;
	box-shadow: 0 3px 4px rgba(0,0,0,.4);
	vertical-align: middle;
}
	.cta-1-white:hover {
		background-color: #2b4e6a;
		color: #fff;
	}
.cta-2 {
	color: #ccc;
	background-color: transparent;
	border: 2px solid #666;
	padding: 16px 30px;
}
	.cta-2:hover {
		color: #fff;
		background-color: #2b4e6a;
		border-color: #2b4e6a;
	}
.cta-3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.15em;
	line-height: 1em;
	color: #666;
	text-decoration: none;
	margin-top: 1.5em;
	padding: .6em 1.1em;
	border-radius: 50px;
	border: 2px solid #666;
	display: inline-block;
}
	.cta-3:hover {
		color: #fff;
		background-color: #2b4e6a;
		border-color: #2b4e6a;
	}

ul.internal-content-list {
	padding-left: 17px;
}
	ul.internal-content-list li {
		list-style-type: disc;
		margin-bottom: .6em;
	}
ul {
	padding-left: 0;
}
	li {
		list-style-type: none;
		margin-bottom: 0;
	}
/* Header */
.div-table {
	display: table;
}
header, header * {
	-webkit-transition: .3s;
	transition: .3s;
}
header {
	background-color: rgba(255,255,255,0);
	width: 100%;
	padding: .65em 0;
	position: fixed;
	z-index: 500;
}
	#header-logo {
		width: 37%;
		max-width: 174px;
		display: inline-block;
		vertical-align: middle;
		padding-top: .6em;
	}

	#main-menu-wrapper {
		float: right;
		clear: right;
		margin: 0;
	}
		#mm-logo {
			display: none;
			width: 120px;
			margin: 0 auto 2em;
			padding-top: 14vh;
		}
		nav#main-menu {
			background-color: #fff;
			display: inline-block;
			vertical-align: middle;
			border-radius: 50px;
			box-shadow: 0 3px 4px rgba(0,0,0,.22);
			overflow: hidden;
			float: right;
		}
			nav#main-menu ul {

			}
				nav#main-menu ul li {
					display: inline-block;
				}
					nav#main-menu ul li a {
						display: block;
						line-height: 1em;
						color: #333;
						text-decoration: none;
						padding: 1.5em;
					}
						nav#main-menu ul li a:hover {
							color: #333;
							background-color: #e8e8e8;
						}
					nav#main-menu ul li a.menu-item-scroll {
						display: none;
					}
		#lang-button {
			display: inline-block;
			margin-left: 1em;
			float: right;
			padding-top: 1.25em;
		}
			#lang-button a {
				font-size: .71em;
				line-height: 1em;
				color: #999;
				text-decoration: none;
			}

header.header-scrolled {
	background-color: rgba(255,255,255,1);
	padding: .65em 0 .25em;
	box-shadow: 0 3px 10px rgba(0,0,0,0.28);
}
	header.header-scrolled #header-logo {
		max-width: 130px;
		padding-top: 1px;
	}
	header.header-scrolled nav#main-menu {
		display: block;
		vertical-align: top;
		border-radius: 0;
		box-shadow: none;
	}
		header.header-scrolled nav#main-menu ul {

		}
			header.header-scrolled nav#main-menu ul li {

			}
				header.header-scrolled nav#main-menu ul li a {
					border-radius: 50px;
					overflow: hidden;
					padding: .65em 1em;
				}
					header.header-scrolled nav#main-menu ul li a:hover {

					}
				header.header-scrolled nav#main-menu ul li a.menu-item-scroll {
					color: #fff;
					background-color: #1867a4;
					text-transform: uppercase;
					display: block;
				}
					header.header-scrolled nav#main-menu ul li a.menu-item-scroll:hover {
						background-color: #2b4e6a;
					}
	header.header-scrolled #lang-button {
		padding-top: 6px;
	}
		header.header-scrolled #lang-button a {

		}

#btn-main-menu-mobile {
	width: 30px;
	height: 30px;
	padding: 8px;
	box-sizing: content-box;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	z-index: 1005;
}
	#btn-brg-1, #btn-brg-2, #btn-brg-3 {
		width: 30px;
		height: 4px;
		background-color: #ccc;
		display: block;
		border-radius: 5px;
		position: absolute;
	}
		#btn-brg-1 {
			margin-top: 4px;
		}
		#btn-brg-2 {
			margin-top: 13px;
		}
		#btn-brg-3 {
			margin-top: 22px;
		}

		.btn-brg-clicked #btn-brg-1 {
			width: 37px;
			height: 4px;
			transform: rotate(45deg);
			margin-top: 13px;
			margin-left: -3px;
		}
		.btn-brg-clicked #btn-brg-2 {
			opacity: 0;
			filter: alpha(opacity=0); /* For IE8 and earlier */
		}
		.btn-brg-clicked #btn-brg-3 {
			width: 37px;
			height: 4px;
			transform: rotate(-45deg);
			margin-top: 13px;
			margin-left: -3px;
		}

/* Section codes */
section {
	width: 100%;
	display: block;
	margin: 5em auto;
}
	.content-wrapper {
		width: 94%;
		max-width: 960px;
		margin: 0 auto;
	}
		.main-text-wrap {
			width: 100%;
			max-width: 640px;
			display: block;
			margin: 0 auto 3em;
		}

	.text-center {
		text-align: center !important;
	}
	.text-left {
		text-align: left !important;
	}

	.full-wrap {
		width: 100%;
		text-align: center;
		display: block;
		margin: 0 auto 3em;
	}
		.content-left {
			width: 53%;
			display: inline-block;
			vertical-align: middle;
		}
		.content-right {
			width: 45%;
			display: inline-block;
			padding-left: 46px;
			vertical-align: middle;
		}

	.left-third {
		width: 35%;
		padding-right: 40px;
		display: inline-block;
		vertical-align: top;
	}
	.right-thirds {
		width: 64%;
		display: inline-block;
		vertical-align: top;
	}

	.quarter-element, .third-element, .profile-wrapper {
		width: 22%;
		margin: 0 1%;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}
	.third-element {
		width: 30%;
		margin-bottom: 2em;
	}
		.quarter-element .icon, .third-element .icon, .sixth-element .icon, .profile-wrapper .icon {
			width: 140px;
			height: 140px;
			display: block;
			margin: 0 auto 1em;
			padding: 24px;
			border-radius: 50%;
			background: #1867a4; /* Old browsers */
			background: -moz-linear-gradient(-45deg, #1867a4 0%, #0d8a95 74%, #0d8a95 74%); /* FF3.6-15 */
			background: -webkit-linear-gradient(-45deg, #1867a4 0%,#0d8a95 74%,#0d8a95 74%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(135deg, #1867a4 0%,#0d8a95 74%,#0d8a95 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1867a4', endColorstr='#0d8a95',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		}
	.sixth-element {
		width: 14%;
		margin: 0 .5em 2em;
		display: inline-block;
		vertical-align: top;
	}
		.sixth-element .icon {
			width: 75%;
			height: auto;
			margin: 0 auto 1em;
		}
		.sixth-element h3 {
			font-size: .85em;
			line-height: 1.25em;
		}

.image-container {
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}



/* --------- */
/* Contact Us */
#contact-us {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	margin: 0;
	padding: 100px;
	display: none;
	overflow-y: scroll;
	overflow-x: hidden;
}
	#contact-us-close-btn {
		width: 50px;
		padding: 10px;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
		#contact-us-close-btn svg {
			fill: #ccc;
			-webkit-transition: .3s;
			transition: .3s;
		}
		#contact-us-close-btn:hover {
			width: 50px;
			padding: 10px;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
		}
			#contact-us-close-btn:hover svg {
				fill: #1867a4;
			}
	#contact-us-logo {
		width: 50%;
		max-width: 180px;
		display: block;
		margin: 0 auto;
	}

	#contact-us-content {
		text-align: center;
		margin-top: 4em;
	}
		#contact-us-content-left, #contact-us-content-right {
			width: 47%;
			max-width: 360px;
			margin: 0 1.25%;
			text-align: left;
			display: inline-block;
			vertical-align: top;
		}

		form#contact-form, form#application-form {

		}
			form#contact-form input, form#application-form input, form#contact-form select, form#contact-form textarea {
				width: 100%;
				height: 34px;
				font-size: 1em;
				line-height: 1.15em;
				padding: 5px 8px;
				background-color: #fff;
				border: 1px solid #ccc;
				border-radius: 4px;
				display: block;
				margin-bottom: 7px;
			}
				form#contact-form input.half-input {
					width: 47.5%;
					display: inline-block;
				}
					form#contact-form input.half-input {
						margin-right: 1.5%;
					}
				form#contact-form textarea {
					height: auto;
					margin-bottom: 1.25em;
				}
				form#application-form input[type="file"] {
					border: none;
					background-color: #eaeaea;
					padding: 12px 8px 29px;
					margin-bottom: 1.15em;
				}
					form#application-form input[type="file"]:hover {
						background-color: #ddd;
					}
				form#contact-form input[type="submit"], form#application-form input[type="submit"] {
					width: auto;
					height: auto;
					display: inline-block;
					background-color: #1867a4;
					color: #fff;
					font-size: 1.25em;
					line-height: 1.15em;
					cursor: pointer;
					border-radius: 50px;
					padding: 12px 50px;
					margin: 0 1em 0 0;
					border: none;
					-webkit-transition: .3s;
					transition: .3s;
				}
					form#contact-form input[type="submit"]:hover, form#application-form input[type="submit"]:hover {
						background-color: #2b4e6a;
					}
				form#contact-form label, form#application-form label {
					display: block;
					margin-bottom: .3em;
				}

		#contact-us-map {
			border: 1px solid #ccc;
		}
			#contact-us-map iframe {
				width: 100%;
				height: 240px;
				display: block;
			}
		#contact-us-contact-info {
			padding: 30px;
		}
			#contact-us-contact-info p {
				margin-bottom: 1em;
			}
			span.contact-info-title {
				width: 100px;
				display: inline-block;
				font-weight: bold;
			}

	#contact-legal {
		font-size: .75em;
		line-height: 1.25em;
		color: #aaa;
		padding-top: 4em;
	}

/* Internal Pages Contact Us */
.text-division {
	width: 100%;
	height: 4em;
	display: block;
}

#internal-contact-us {
	width: 80%;
	display: block;
	background-color: #ddd;
	border-radius: 200px;
	overflow: hidden;
	padding: 20px 40px;
	margin: 4em auto;
}
	#internal-contact-us-text {
		width: calc(100% - 190px);
		display: inline-block;
		vertical-align: middle;
		padding-right: 30px;
	}
		#internal-contact-us-text p {
			margin-bottom: 0;
		}
	#internal-contact-us .cta-1-white {
		width: 174px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
	}


/* --------- */
/* Home Page */

/* Hero */
#hero {
	width: 100%;
	height: 90vh;
	min-height: 400px;
	display: block;
	background-color: gold;
	margin-top: 0;
	position: relative;
	overflow: hidden;
	background: #0e171d; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #0e171d 0%, #1a2a36 100%);
	background: -webkit-linear-gradient(-45deg, #0e171d 0%,#1a2a36 100%);
	background: linear-gradient(135deg, #0e171d 0%,#1a2a36 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e171d', endColorstr='#1a2a36',GradientType=1 );
}
	#hero-bottom {
		width: 104%;
		display: block;
		position: absolute;
		left: -2%;
		bottom: -1px;
		z-index: 5;
	}
	#hero-fluid-top {
		width: 87%;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
	}
	#hero-fluid-bottom {
		width: 104%;
		display: block;
		position: absolute;
		left: -2%;
		bottom: -1px;
		z-index: 3;
	}
	#hero-gradient-top {
		width: 104%;
		height: 120px;
		display: block;
		position: absolute;
		left: -2%;
		top: -1px;
		z-index: 3;
		background: transparent; /* Old browsers */
		background: -moz-linear-gradient(0deg, transparent 0%, rgba(255,255,255,.5) 100%);
		background: -webkit-linear-gradient(0deg, transparent 0%, rgba(255,255,255,.5) 100%);
		background: linear-gradient(0deg, transparent 0%, rgba(255,255,255,.5) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='rgba(255,255,255,.5)',GradientType=1 );

	}
	#hero-content {
		width: 94%;
		max-width: 1024px;
		display: block;
		margin: 0 auto;
		padding-top: calc((75vh - 320px) / 2);
		position: relative;
		z-index: 10;
	}
		.hero-slide {
			width: 100%;
			height: 320px;
		}
			.hero-slide .cta-2 {
				margin-left: 5px;
			}
			.hero-slide-left {
				width: 50%;
				display: inline-block;
				vertical-align: middle;
			}
				.hero-slide-left h1 {
					font-size: 3.75em;
					line-height: 1.25em;
					text-align: left;
					margin-bottom: 18px;
				}
				.hero-slide-left p {
					font-size: 1.1em;
					line-height: 1.5em;
					color: #b9d5ea;
					margin-bottom: 2.5em;
				}
			.hero-slide-right {
				width: 46%;
				margin-left: 3%;
				display: inline-block;
				vertical-align: middle;
			}


a#btn-down {
	width: 60px;
	height: 60px;
	display: block;
	padding: 16px;
	position: absolute;
	left: calc(50vw - 30px);
	bottom: 11vh;
	border-radius: 50%;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 3px 4px rgba(0,0,0,.4);
	z-index: 10;
}
	a#btn-down svg {
		fill: #1867a4;
	}
		a#btn-down:hover {
			background-color: #1867a4;
		}
		a#btn-down:hover svg {
			fill: #fff;
		}

/* Section WHAT WE DO */
#sec-what-we-do {
	margin: 0 auto;
	background-color: #fff;
	padding-top: 5em;
}
	.services-edge {
		display: block;
		width: 100%;
	}

/* Section SERVICES */
.services-wrap {
	width: 100%;
}
	.service {
		width: 49%;
		display: inline-block;
		padding: 0 12px;
		vertical-align: top;
		margin-bottom: 3em;
		text-align: center;
	}
		.service:nth-child(even) {
			margin-left: 1.5%;
		}
		.service .icon {
			width: 140px;
			margin-bottom: 1em;
			padding: 30px;
			display: inline-block;
			border-radius: 50%;
			overflow: hidden;
			background: #1867a4; /* Old browsers */
			background: -moz-linear-gradient(-45deg, #1867a4 0%, #0d8a95 74%, #0d8a95 74%); /* FF3.6-15 */
			background: -webkit-linear-gradient(-45deg, #1867a4 0%,#0d8a95 74%,#0d8a95 74%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(135deg, #1867a4 0%,#0d8a95 74%,#0d8a95 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1867a4', endColorstr='#0d8a95',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		}

/* Section MID CONTACT */
#mid-contact-us {
	width: 100%;
	display: block;
	border-radius: 200px;
	position: relative;
	top: 85px;
	background: #1867a4; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #1867a4 0%, #0d8a95 74%, #0d8a95 74%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #1867a4 0%,#0d8a95 74%,#0d8a95 74%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #1867a4 0%,#0d8a95 74%,#0d8a95 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1867a4', endColorstr='#0d8a95',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
	#mid-contact-us-thumb {
		width: 220px;
		display: inline-block;
		position: absolute;
		margin: -46px 0 0 40px;
		border-radius: 4px;
		overflow: hidden;
		box-shadow: 0 4px 6px rgba(0,0,0,.4);
	}
	#mid-contact-us-content {
		display: inline-block;
		margin: 0 0 0 300px;
		padding: 2em 0;
	}
		#mid-contact-us-text {
			color: #fff;
			width: calc(100% - 210px);
			display: inline-block;
			vertical-align: middle;
			padding-right: 20px;
		}
			#mid-contact-us-text p {
				margin-bottom: 0;
			}
			p#mid-contact-us-title {
				font-size: 1.25em;
				line-height: 1em;
				margin-bottom: .3em;
			}
		#mid-contact-us-content .cta-1-white {
			width: 174px;
			text-align: center;
		}

/* We Work With */
#sec-work-with {
	text-align: center;
	margin-top: 7em;
}
	#sec-work-with h4 {
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #ccc;
		padding-bottom: .25em;
		margin-bottom: 1em;
	}
	.work-with-wrap {
		width: 100%;
		display: block;
	}
		.work-with-logo {
			width: 14%;
			margin: 1em 1% 0;
			display: inline-block;
		}

/* News */
#sec-news {
	width: 100%;
	background-color: #1867a4;
	margin: 10em auto 0;
	padding-bottom: 5em;
}
	#news-wrap {
		text-align: center;
	}
		.article-container {
			width: 22%;
			max-width: 320px;
			text-align: left;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 3px 10px rgba(0,0,0,.28);
			padding: 14px;
			margin: 0 1%;
			display: inline-block;
			position: relative;
			top: -40px;
		}
			.article-thumb {
				border-radius: 4px;
				overflow: hidden;
			}
			.article-content {
				padding: 5px;
			}
				.article-title {
					color: #1867a4;
					font-weight: bold;
				}
				.article-date {
					color: #999;
					font-size: .7em;
					line-height: 1.15em;
					margin-bottom: 1em;
				}
	#sec-news h2 {
		width: calc(100% - 214px);
		color: #7bc0f6;
		font-size: 1.25em;
		line-height: 1em;
		display: inline-block;
		vertical-align: middle;
		border-bottom: solid 1px #7bc0f6;
		margin-right: 16px;
		padding-bottom: 10px;
	}
	#sec-news a.cta-2 {
		width: 194px;
		color: #7bc0f6;
		border-color: #7bc0f6;
		font-size: 1em;
		line-height: 1em;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
	}
		#sec-news a.cta-2:hover {
			color: #fff;
			background-color: #2b4e6a;
			border-color: #2b4e6a;
		}

	#sec-news .content-wrapper p {
		color: #fff;
		margin: .5em 0 1.75em;
	}

/* --------- */

/* Footer */
#ft-main-content {
	background-color: #202c35;
	padding: 4.5em 0;
	display: block;
}
	#ft-main-content .content-wrapper {
		display: table;
	}
		#ft-left {
			width: calc(100% - 380px);
			float: left;
			clear: left;
		}
			#ft-logo {
				width: 100%;
				display: block;
				border-bottom: solid 1px #434b52;
				padding-bottom: 10px;
			}
				a#ft-logo-wrap {
					width: 120px;
					display: block;
				}
			#ft-menu {
				width: 100%;
				display: block;
				padding-top: 1.25em;
			}
				.ft-menu-col {
					width: 30%;
					margin: 0 1%;
					display: inline-block;
					vertical-align: top;
				}
					.ft-menu-col a {
						color: #fff;
						display: block;
						text-decoration: none;
						padding: 5px 0;
					}
						.ft-menu-col a:hover {
							text-decoration: underline;
						}
		#ft-right {
			width: 100%;
			max-width: 360px;
			float: right;
			clear: right;
		}
			#ft-right form {
				position: relative;
			}
				#ft-right form input[type=submit] {
					width: 110px;
					font-size: 1.1em;
					line-height: 1em;
					text-align: center;
					color: #7bc0f6;
					background-color: transparent;
					border-radius: 50px;
					border: 1px solid #7bc0f6;
					text-transform: uppercase;
					text-decoration: none;
					display: block;
					padding: 12px;
					cursor: pointer;
					position: absolute;
					top: 3px;
					right: 3px;
				}
					#ft-right form input[type=submit]:hover {
						color: #fff;
						background-color: #2b4e6a;
						border-color: #2b4e6a;
					}
				#ft-right form input[type=text] {
					width: 100%;
					height: 47px;
					font-size: 1.25em;
					line-height: 1em;
					color: #fff;
					background-color: #1d2327;
					display: block;
					border: none;
					border-radius: 50px;
					overflow: hidden;
					padding: 0 120px 0 20px;
				}
				#ft-right form label {
					color: #718490;
					padding-left: 20px;
					display: block;
					margin-top: .75em;
				}
#ft-copyright {
	font-size: .7em;
	line-height: 1em;
	text-align: center;
	color: #455663;
	background-color: #1a2229;
	padding: 2.1em 0 1.4em;
	display: block;
}
	#ft-copyright a {
		margin: 0 .3em;
	}

/* Inner pages */

.inner-header {
	width: 100%;
	height: 400px;
	text-align: center;
	display: block;
	padding-top: 220px;
	margin: 0;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-color: #1867a4;
}
	.inner-header-content {

	}
a#btn-down-internal {
	width: 60px;
	height: 60px;
	display: block;
	padding: 16px;
	position: absolute;
	left: calc(50vw - 30px);
	top: 365px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 3px 4px rgba(0,0,0,.4);
	z-index: 10;
}
	a#btn-down-internal svg {
		fill: #1867a4;
	}
		a#btn-down-internal:hover {
			background-color: #1867a4;
		}
		a#btn-down-internal:hover svg {
			fill: #fff;
		}

/* Hero images */
#page-who-we-are {
	background-image: url("assets/images/hero-image-who-we-are.png");
}
#page-reg-status {
	background-image: url("assets/images/hero-image-regulatory-status.png");
}
#page-our-mission {
	background-image: url("assets/images/hero-image-our-mission.png");
}
#page-our-team {
	background-image: url("assets/images/hero-image-our-team.png");
}
#page-softgels {
	background-image: url("assets/images/hero-image-softgels.png");
}
#page-partners {
	background-image: url("assets/images/hero-image-partners.png");
}
#page-what-we-do {
	background-image: url("assets/images/hero-image-what-we-do.png");
}
#page-news {
	background-image: url("assets/images/hero-image-news.png");
}
#page-careers {
	background-image: url("assets/images/hero-image-careers.png");
}
#page-our-facility {
	background-image: url("assets/images/hero-image-our-facility.png");
}

/* Who We Are */
#how-it-started {
	width: 100%;
	display: block;
	background-color: #eee;
	margin: 6.5em auto;
}
	#his-left {
		width: 45%;
		display: inline-block;
		vertical-align: middle;
		background-image: url("assets/images/-placeholders/paintballs-softgels-example.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
		#his-left {
			text-align: left;
			padding: 20vh 70px;
		}
			#his-left h1 {
				font-size: 4em;
				line-height: 1em;
				text-align: left;
			}
	#his-right {
		width: 54%;
		max-width: 540px;
		display: inline-block;
		vertical-align: middle;
		padding: 44px;
	}

.profile-picture {
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 1em;
}
.team-role {
	font-size: .85em;
	line-height: 1.25em;
	font-style: italic;
	color: #999;
}

/* What We Do */
.tab-service-thumb {
	width: 240px;
	display: inline-block;
	vertical-align: top;
}
.tab-service-content {
	width: calc(100% - 270px);
	display: inline-block;
	vertical-align: top;
	margin-left: 25px;
}

/* Regulatory Status */
.text-label {
	font-size: .75em;
	line-height: 1em;
	margin: 0 0 .25em;
	color: #999;
}
#rs-icon {
	width: 300px;
	height: 300px;
	text-align: left;
	padding: 50px;
	background-color: #ddd;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}
#rs-text {
	width: calc(100% - 340px);
	text-align: left;
	margin-left: 36px;
	display: inline-block;
	vertical-align: middle;
}

/* Our team / Facility */
.team-member-wrap, .facility-wrap, .facility-wrap-small {
	width: 100%;
	display: table;
	margin: 0 auto 2.5em;
	position: relative;
}
	.facility-wrap-small {
		width: 80%;
		margin: 0 auto;
		position: relative;
		top: 20px;
		z-index: 10;
	}
	.team-profile-pic, .facility-pic, .facility-pic-small, .facility-pic-alt {
		width: 280px;
		display: block;
		border-radius: 4px;
		overflow: hidden;
		position: relative;
		z-index: 5;
		float: left;
		clear: left;
	}
		.facility-pic, .facility-pic-alt {
			width: 460px;
		}
	.team-text, .facility-text, .facility-text-small, .facility-text-alt {
		width: calc(100% - 286px);
		text-align: left;
		left: -40px;
		padding-top: 20px;
		display: block;
		position: relative;
		z-index: 10;
		float: right;
		clear: right;
	}
		.facility-text-small {
			padding-top: 30px;
		}
		.facility-text, .facility-text-alt {
			width: calc(100% - 466px);
			padding-top: 30px;
		}
		.team-text h2 {
			margin-bottom: 0;
		}
		.team-text .team-role {
			font-style: italic;
			margin-bottom: 1.25em;
		}

	.team-member-wrap:nth-child(even) .team-profile-pic, .facility-pic-alt {
		float: right;
		clear: right;
	}
	.team-member-wrap:nth-child(even) .team-text, .facility-text-alt {
		text-align: right;
		left: 0;
		left: 40px;
		float: left;
		clear: left;
	}

.column-left {
	text-align: left;
	width: 33%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5%;
}
.column-right {
	text-align: left;
	width: 60%;
	display: inline-block;
	vertical-align: middle;
}

/* Softgels */
.softgel-image {
	width: 100%;
	display: block;
	border-radius: 4px;
	overflow: hidden;
}
.softgel-label {
	font-size: .8em;
	line-height: 1.3em;
	font-style: italic;
	color: #999;
	text-align: left;
	padding: 12px;
}

/* Partners */
.partner-image, .image-wrap {
	width: 100%;
	display: block;
	border: 1px solid #ddd;
}
	.image-wrap {
		border: none;
		margin-bottom: 1em;
	}
.partner-text {
	text-align: left;
	margin-top: 1em;
}

/* Careers */
.tab-info {
	text-align: left;
	border-bottom: 1px solid #ddd;
}
	.tab-info:last-child {
		border-bottom: none;
	}
	a.tab-button {
		font-size: 1.25em;
		color: #333;
		font-weight: bold;
		text-decoration: none;
		display: block;
		padding: 1em 20px;
	}
		a.tab-button:hover {
			background-color: #eaeaea;
		}
	.tab-content {
		overflow: hidden;
		display: none;
		padding: 0 20px;
		-webkit-transition: .3s;
		transition: .3s;
	}
		.tab-content h4 {
			margin-top: 2em;
		}
			.tab-content h4:first-child {
				margin-top: 0;
			}
		.tab-content .cta-3 {
			border: none;
		}
			.tab-content .cta-3:hover {
				color: #fff;
				background-color: #2b4e6a;
			}

	.job-selected a {
		color: #fff;
		background-color: #1867a4;
	}
		.job-selected a:hover {
			background-color: #2b4e6a;
		}
	.job-selected .tab-content {
		display: block;
		padding: 1.5em 20px 3em;
	}

section#job-apply-lightbox {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	margin: 0;
	padding: 100px;
	display: none;
	overflow-y: scroll;
	overflow-x: hidden;
}
	#job-apply-form-wrap {
		width: 96%;
		max-width: 360px;
		margin: 0 auto;
	}
		.application-logo {
			width: 130px;
			display: block;
			margin: 0 auto 2em;
		}
		.text-apply-for {
			color: #1867a4;
			margin-bottom: .25em;
		}
		#text-apply-title {
			font-size: 1.2em;
			line-height: 1.15em;
			font-weight: bold;
		}
		.text-apply-instruction {
			margin: .75em 0 2em;
		}
			span.label-exp {
				font-size: .80em;
				color: #ccc;
				font-style: italic;
			}
		.form-spacing {
			display: block;
			width: 100%;
			height: 20px;
		}

/* News */
.news-filters-wrap {
	width: 230px;
	display: inline-block;
	vertical-align: top;
	margin-right: 50px;
	padding-top: 15px;
	text-align: left;
}
	.news-search {
		display: block;
		width: 100%;
		margin-bottom: 2em;
	}
		form#news-search-form input {
			width: 170px;
			border-radius: 50px 0 0 50px;
			border: 1px solid #ddd;
			border-right: none;
			padding: 10px 0 10px 20px;
			vertical-align: top;
		}
		form#news-search-form input[type="submit"] {
			font-size: .8em;
			background-color: #ddd;
			width: 60px;
			cursor: pointer;
			border-radius: 0 50px 50px 0;
			border: 1px solid #ddd;
			padding: 10px;
			vertical-align: top;
			-webkit-transition: .3s;
			transition: .3s;
		}
			form#news-search-form input[type="submit"]:hover {
				color: #fff;
				background-color: #2b4e6a;
				border-color: #2b4e6a;
			}
	.news-filters {
		margin-top: 2em;
	}
		.news-filters a {
			width: 100%;
			display: block;
			color: #333;
			text-decoration: none;
			background-color: #eaeaea;
			border-radius: 50px;
			padding: 10px 16px;
		}
			.news-filters a:hover {
				background-color: #ddd;
			}
			.news-filters a.selected {
				color: #fff;
				background-color: #2b4e6a;
			}
			.news-filters li {
				margin-bottom: 4px;
			}
				.news-filters li:last-child {
					margin-bottom: 0;
				}

.news-wrap {
	width: calc(100% - 295px);
	text-align: left;
	display: inline-block;
	vertical-align: top;
}
	.news-article {
		color: #333;
		display: block;
		margin-bottom: 2em;
		padding: 15px;
		border-radius: 6px;
	}
		.news-article:hover {
			color: #333;
			background-color: #fff;
			box-shadow: 0 3px 5px rgba(0,0,0,0.16);
		}
		.news-thumb {
			width: 160px;
			position: relative;
			display: inline-block;
			vertical-align: middle;
		}
			.news-type {
				font-size: .75em;
				line-height: 1em;
				text-transform: uppercase;
				background-color: #fff;
				border-radius: 2px;
				padding: 4px 6px;
				position: absolute;
				z-index: 2;
				top: 10px;
				right: -5px;
			}
			.news-thumb-image {
				display: block;
				border-radius: 5px;
				overflow: hidden;
			}
		.news-content {
			width: calc(100% - 180px);
			margin-left: 17px;
			display: inline-block;
			vertical-align: middle;
		}
			.news-content h2 {
				font-size: 1.15em;
				line-height: 1.25em;
			}
			.news-btn-continue-reading {
				font-size: .85em;
				color: #37a1f2;
				text-decoration: underline;
			}
				.news-article:hover .news-btn-continue-reading {
					color: #f38c00;
				}

.news-pagination {
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 5em;
}
	.news-pagination a {
		width: 40px;
		height: 40px;
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
		color: #888;
		margin: 0 .1em;
		border-radius: 50px;
		padding: 10px;
	}
		.news-pagination a:hover {
			color: #f38c00;
			background-color: #fff;
		}
	.news-pagination a.btn-pag {
		width: 120px;
		background-color: #eaeaea;
		padding: 10px 14px;
		border-radius: 50px;
	}
		.news-pagination a.btn-pag:hover {
			color: #333;
			background-color: #ddd;
		}

/* Articles */
#page-article {
	background-image: url("assets/images/-placeholders/article-header.png"); /* EXAMPLE IMAGE */
}

.article-img-1 {
	width: 100%;
	padding: 5px;
	background-color: #fff;
	box-shadow: 0 3px 5px rgba(0,0,0,.1);
	margin: 2em 0;
}
	.caption {
		color: #999;
		font-size: .8em;
		line-height: 1.4em;
		font-style: italic;
		padding: 10px 10px 5px;
		margin-bottom: 0;
	}

/* Error 404 */
section#error-404 {
	margin-top: 0;
	padding-top: 20vh;
}
	.img-404 {
		width: 90%;
		max-width: 560px;
		margin: 0 auto 2em;
	}
	.content-404 {
		text-align: center;
		padding-bottom: 4em;
	}
		.buttons-404 {
			margin-top: 1em;
		}
			.buttons-404 a {
				margin: 0 2px 4px;
			}
			.buttons-404 .cta-2 {
				color: #333;
			}
				.buttons-404 .cta-2:hover {
					color: #fff;
				}

/* --------------- */
/* RESPONSIVE CODE */
/* --------------- */

@media screen and (max-width: 890px) {
	.cta-3 {
		font-size: .95em;
		line-height: 1em;
	}
	#hero-content {
		padding-top: calc((75vh - 280px) / 2);
	}

	a#btn-down {
		bottom: 9vh;
	}

	#contact-us {
		padding: 50px;
	}

	.content-left {
		width: 49%;
	}
	.content-right {
		width: 50%;
		padding-left: 30px;
	}

	.left-third {
		width: 65%;
		display: block;
	}
	.right-thirds {
		width: 100%;
		padding-top: 4em;
	}
		.service, .service:nth-child(even) {
			width: 30%;
			margin: 0 1.25% 3em;
		}

	.quarter-element, .profile-wrapper {
		width: 48%;
		margin: 0 .5%;
		display: inline-block;
		vertical-align: top;
		text-align: left;
		margin-bottom: 2em;
	}
		.quarter-element .icon {
			width: 120px;
			height: 120px;
			display: inline-block;
			margin: 0 auto;
		}
		.quarter-element .text, .quarter-element .text-2 {
			width: calc(100% - 140px);
			height: auto;
			display: inline-block;
			margin: 0 auto;
			padding-left: 20px;
			vertical-align: top;
		}
			.quarter-element .text-2 {
				display: block;
				width: 100%;
				margin: 0;
				padding: 0 20px;
			}

	.sixth-element {
		width: 30%;
		margin: 0 1% 2em;
	}
		.sixth-element .icon {
			width: 55%;
		}
		.sixth-element h3 {
			font-size: 1em;
			line-height: 1.25em;
		}

	.article-container {
		width: 30%;
		margin: 0 1.25%;
	}
	.article-container:last-child {
		display: none;
	}

	#mid-contact-us {

	}
		#mid-contact-us-thumb {
			margin: -46px 0 0 20px;
		}
		#mid-contact-us-content {
			margin: 0 0 0 270px;
		}

	/* internal */
	#internal-contact-us {
		width: 100%;
	}

	/* Who We Are */
	#how-it-started {
		width: 100%;
		display: block;
		background-color: #eee;
		margin: 6.5em auto;
	}
		#his-left {
			width: 100%;
			display: block;
		}
			#his-left {
				padding: 5em 0;
			}
				#his-left h1 {
					font-size: 2.5em;
					line-height: 1em;
					text-align: center;
				}
		#his-right {
			width: 100%;
			max-width: 100%;
			display: block;
			padding: 44px;
		}

	/* Regulatory Status */
	#rs-icon {
		width: 240px;
		height: 240px;
		padding: 40px;
		vertical-align: top;
	}
	#rs-text {
		width: calc(100% - 280px);
		vertical-align: top;
	}

	/* Team */
	.team-profile-pic {
		width: 230px;
	}
	.team-text {
		width: calc(100% - 236px);
	}
	.facility-wrap-small {
		width: 89%;
	}
	.facility-pic, .facility-pic-alt {
		width: 360px;
	}
	.facility-text, .facility-text-alt {
		width: calc(100% - 366px);
	}

	/* News */
	.news-thumb, .news-content {
		vertical-align: top;
	}

	.column-left {
		width: 45%;
		vertical-align: top;
		margin-right: 5%;
	}
	.column-right {
		width: 49%;
		vertical-align: top;
	}
}

@media screen and (max-width: 759px) {
	header {
		font-size: .9em;
	}
	#header-logo {
		padding-top: .3em;
	}
		nav#main-menu ul li a {
			padding: 1.15em .9em;
		}
	#lang-button {
		padding-top: .9em;
	}
	header.header-scrolled #header-logo {
		padding-top: 3px;
	}
	header.header-scrolled nav#main-menu ul {
		padding-top: .3em;
	}
		header.header-scrolled nav#main-menu ul li a {
			padding: .65em;
		}

	#contact-us {
	    padding: 50px 24px;
	}
		#contact-us-contact-info {
			padding: 12px;
		}

	#hero {
		height: 78vh;
	}
		#hero-content {
			padding: calc((75vh - 320px) / 3.5) 75px 0;
		}
			.hero-slide {
				height: auto;
			}
				#hero-slide-1 .hero-slide-left {
					width: 100%;
					display: block;
					padding-top: 25vh;
					position: relative;
					z-index: 20;
				}
				.hero-slide-right {
					width: 65%;
					display: block;
					position: absolute;
					top: 10vh;
					left: 17.5%;
					z-index: 15;
					margin-left: 0;
				}

	a#btn-down {
		bottom: 21vh;
	}

	.content-left {
		width: 100%;
		display: block;
		margin-bottom: 2em;
	}
	.content-right {
		width: 100%;
		display: block;
		padding-left: 0;
	}

	.left-third {
		width: 75%;
		padding-right: 0;
		display: block;
	}
	.right-thirds {
		width: 100%;
		display: block;
	}

	.service, .service:nth-child(even) {
		width: 49%;
		margin: 0 0 3em;
	}
		.service:nth-child(even) {
			margin-left: 1.5%;
		}

	#mid-contact-us {
		border-radius: 10px;
		top: 85px;
	}
		#mid-contact-us-thumb {
			width: 65%;
			display: block;
			position: relative;
			margin: 0 auto;
			top: -50px;
		}
		#mid-contact-us-content {
			display: block;
			margin: 0;
			padding: 0 0 2em;
		}
			#mid-contact-us-text {
				width: 90%;
				display: block;
				margin: 0 auto;
				padding-right: 0;
				text-align: center;
			}
			#mid-contact-us-content .cta-1-white {
				display: block;
				margin: 24px auto 0;
			}

	.work-with-logo {
		width: 30%;
		margin: 1em 1.25% 0;
	}

	#ft-left {
		width: 100%;
		display: block;
	}
	#ft-right {
		width: 100%;
		max-width: 100%;
		margin-bottom: 3em;
		display: block;
	}

	.quarter-element, .third-element, .sixth-element {
		width: 100%;
		margin: 0 auto 2em;
		display: block;
		text-align: left;
	}
		.quarter-element .icon, .third-element .icon, .sixth-element .icon {
			width: 80px;
			height: 80px;
			padding: 15px;
			display: inline-block;
			vertical-align: top;
		}
		.quarter-element .text, .third-element .text, .sixth-element .text {
			width: calc(100% - 100px);
			display: inline-block;
			vertical-align: top;
			padding-left: 20px;
		}
			.sixth-element .icon, .sixth-element .text {
				vertical-align: middle;
			}

	/* Regulatory Status */
	#rs-icon {
		width: 200px;
		height: 200px;
	}
	#rs-text {
		width: calc(100% - 240px);
	}

	/* Team */
	h5 {
		margin-bottom: 2.5em;
	}
	.facility-wrap-small {
		width: 100%;
		top: 0;
		margin-bottom: 1.5em;
	}
	.facility-pic, .facility-pic-alt, .facility-pic-small {
		width: 230px;
	}
	.facility-text, .facility-text-alt, .facility-text-small {
		width: calc(100% - 236px);
	}

	/* News */
	.news-filters-wrap, .news-wrap {
		width: 100%;
		display: block;
		margin: 0;
		padding: 0;
		text-align: center;
	}
		.news-filters-wrap {
			margin-bottom: 2em;
		}
		.news-search, .news-filters {
			margin: 1em 0;
		}
		.news-filters li {
			display: inline-block;
			margin: 0;
		}
			.news-filters a {
				display: block;
				margin: 0;
			}
		.news-wrap {
			text-align: left;
		}

	.news-thumb {
		width: 100%;
		margin: 0 0 1em;
		display: block;
	}
		.news-thumb-image {
			height: 320px;
		}
	.news-content {
		width: 100%;
		margin: 0;
		padding: 0 12px;
	}
}

@media screen and (max-width: 640px) {
	.mobile-off {
		display: none !important;
	}
	.mobile-only {
		display: block !important;
	}

	.cta-3 {
		font-size: 1em;
		line-height: 1.25em;
	}

	#contact-us, section#job-apply-lightbox {
	    padding: 50px 5vw;
	    display: none;
	}
		#contact-us-contact-info {
			padding: 12px;
		}
		#contact-us-close-btn {
			width: 50px;
			right: 0;
		}
		#contact-us-content {
			margin-top: 2.5em;
		}
			#contact-us-content-left {
				width: 100%;
				display: block;
				margin-bottom: 2em;
			}
		#contact-us-content-left, #contact-us-content-right {
			width: 100%;
			display: block;
			margin: 0 auto;
		}
				form#contact-form {
					margin: 2em 0 5em;
				}

	header, header.header-scrolled {
		padding: .65em 0 .7em;
	}

	#btn-main-menu-mobile {
		display: block;
	}
		#main-menu-wrapper {
			display: none;		
		}

	#main-menu-wrapper {
		width: 100vw;
		height: 100vh;
		float: none;
		clear: none;
		margin: 0;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 1000;
		background-color: #fff;
		display: none;
	}
		#mm-logo, header.header-scrolled #mm-logo {
			display: block;
		}
		nav#main-menu, header.header-scrolled nav#main-menu {
			background-color: transparent;
			display: block;
			border-radius: 0;
			box-shadow: none;
			float: none;
			text-align: center;
			vertical-align: top;
		}
			nav#main-menu ul, header.header-scrolled nav#main-menu ul {
				padding-top: 0;
			}
				nav#main-menu ul li, header.header-scrolled nav#main-menu ul li {
					display: block;
				}
					nav#main-menu ul li a, header.header-scrolled nav#main-menu ul li a {
						width: 80%;
						font-size: 1.75em;	
						display: block;
						padding: .5em;
						margin: .2em auto;
					}
					nav#main-menu ul li a.menu-item-scroll, header.header-scrolled nav#main-menu ul li a.menu-item-scroll {
						display: block;
					}
					nav#main-menu ul li a.menu-item-scroll, header.header-scrolled nav#main-menu ul li a.menu-item-scroll {
						width: 80%;
						color: #fff;
						background-color: #1867a4;
						text-transform: uppercase;
						display: block;
						border-radius: 50px;
						margin: 0 auto;
					}
		#lang-button, header.header-scrolled #lang-button {
			text-align: center;
			display: block;
			margin-left: 0;
			float: none;
			padding-top: 1.25em;
		}
			#lang-button a, header.header-scrolled #lang-button a {
				font-size: .9em;
				line-height: 1.15em;
			}

	#hero {
		height: 90vh;
	}
		#hero-content {
			padding: 10px;
		}
			.hero-slide {
				height: auto;
				padding-top: 80px;
			}
				.hero-slide-left {
					position: relative;
					z-index: 20;
				}
					#hero-slide-1 .hero-slide-left {
						padding-top: 37vh;
					}
					.hero-slide-left h1 {
						font-size: 2em;
						line-height: 1.2em;
						margin-bottom: 12px;
					}
					.hero-slide-left p {
						margin-bottom: 22px;
					}
					.hero-slide-left .cta-1, .hero-slide-left .cta-2 {
						font-size: 1em;
						padding: 12px 22px;
					}
						.hero-slide-left .cta-2 {
							padding: 10px 20px;
						}
				.hero-slide-right {
					width: 300px;
					position: absolute;
					top: 44px;
					left: calc(50% - 150px);
					z-index: 15;
					margin-left: 0;
				}

	a#btn-down {
		bottom: 7vh;
	}

	.content-left {
		width: 100%;
		display: block;
		margin-bottom: 2em;
	}
	.content-right {
		width: 100%;
		display: block;
		padding-left: 0;
	}

	.left-third {
		width: 100%;
		padding-right: 0;
		display: block;
	}
	.right-thirds {
		width: 100%;
		display: block;
	}

	.service, .service:nth-child(even) {
		width: 100%;
		margin: 0 0 3em;
	}
		.service:nth-child(even) {
			margin-left: 0;
		}

	.work-with-logo {
		width: 30%;
		margin: 1em 1.25% 0;
	}

	#sec-news {
		padding-top: 3em;
	}

	.inner-header {
		height: 210px;
		padding-top: 84px;
	}
		.inner-header h1 {
			font-size: 1.75em;
			line-height: 1.15em;
			margin-bottom: .3em;
		}
	a#btn-down-internal {
		top: 175px;
	}

	/* Regulatory Status */
	#rs-icon {
		width: 50%;
		height: auto;
		padding: 40px;
		margin: 0 auto 1.5em;
		display: block;
	}
	#rs-text {
		width: 100%;
		display: block;
		margin: 0 auto;
	}
		#rs-text h2, #rs-text .text-label {
			text-align: center;
		}

	/* Careers */
	.tab-info a {
		padding: 1em 10px;
	}
	.tab-content {
		padding: 1.5em 10px 3em;
	}

	/* Error 404 */
	section#error-404 {
		padding-top: 16vh;
	}
		.content-404 {
			padding-bottom: 2em;
		}

	/* What We Do */
	.tab-service-thumb {
		width: 100%;
	}
	.tab-service-content {
		width: 100%;
		margin-top: 1.5em;
		margin-left: 0;
	}

	.column-left, .column-right {
		width: 100%;
		margin-right: 0;
		display: block;
		padding: 10px;
	}
		.column-left {
			background-color: #fff;
			border-radius: 5px;
			overflow: hidden;
		}
}

@media screen and (max-width: 540px) {
	h2.h2-quote {
		font-size: 1.5em;
		line-height: 1.35em;
	}

	#internal-contact-us {
		width: 100%;
		text-align: center;
		border-radius: 5px;
		padding: 30px 40px 0;
		overflow: visible;
		position: relative;
		margin: 4em auto 6em;
	}
		#internal-contact-us-text {
			width: 100%;
			display: block;
			padding-right: 0;
		}
		#internal-contact-us .cta-1-white {
			position: relative;
			top: 1.4em;
		}

		#his-right {
			padding: 26px;
		}

	#rs-icon {
		width: 70%;
	}

	.team-member-wrap {
		margin-bottom: 0;
	}
		.team-profile-pic, .team-member-wrap:nth-child(even) .team-profile-pic, .facility-pic, .facility-pic-alt, .facility-pic-small {
			width: 100%;
			display: block;
			float: none;
			clear: both;
		}
		.team-text, .team-member-wrap:nth-child(even) .team-text, .facility-text, .facility-text-alt, .facility-text-small {
			width: 100%;
			text-align: left;
			left: 0;
			top: -63px;
			padding: 0 20px;
			float: none;
			clear: both;
		}
			.facility-text, .facility-text-alt, .facility-text-small {
				top: 0;
				margin-top: 1em;
			}
				.facility-text h2, .facility-text-alt h2, .facility-text-small h2 {
					font-size: 1.25em;
					line-height: 1.3em;
				}
			.team-text .team-role, .team-member-wrap:nth-child(even) .team-text .team-role {
				font-size: .75em;
				margin-bottom: 3.25em;
			}

	a#btn-down, a#btn-down-internal {
		display: none;
	}

	.news-thumb-image {
		height: 280px;
	}
}

@media screen and (max-width: 374px) {
	header.header-scrolled {
		padding: .65em 0 .9em;
	}

	#hero-slide-1 .hero-slide-left {
		padding-top: 25vh;
	}

	.hero-slide-right {
		width: 280px;
		top: -20px;
		left: calc(50% - 140px);
		margin-left: 0;
	}

	#sec-first-content a:last-child {
		margin-top: .5em;
	}

	.quarter-element .text, .third-element .text {
		padding-left: 10px;
	}

	/* Error 404 */
	.content-404 {
		padding-bottom: 0;
	}

	.news-thumb-image {
		height: 220px;
	}
}

@media screen and (max-width: 340px) {
	.cta-3 {
		font-size: .9em;
		line-height: 1.2em;
	}

	.profile-wrapper {
		width: 100%;
		margin: 0 0 2em;
		display: block;
	}
}



