/*
General info

text main colour: #333;
text light grey: #999;
text <h> blue: #1867a4;
link colour: #37a1f2;
link colour hover: #f38c00;
text ft blue: #718490;
text copyright colour: #455663;

font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;

button blue lines: #5aa4de;
button dark blue hover: #2b4e6a;

gradient:
/* background: #1867a4; /* Old browsers */
/* background: -moz-linear-gradient(-45deg, #1867a4 0%, #0d8a95 74%, #0d8a95 74%); /* FF3.6-15 */
/* background: -webkit-linear-gradient(-45deg, #1867a4 0%,#0d8a95 74%,#0d8a95 74%); /* Chrome10-25,Safari5.1-6 */
/* background: linear-gradient(135deg, #1867a4 0%,#0d8a95 74%,#0d8a95 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1867a4', endColorstr='#0d8a95',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

/*
BGs
bg blue light: #1867a4;
bg blue dark: #202c35;
bg blue copyright: #1a2229;

/* RESET */
* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
	height: auto;
}
a {
	-webkit-transition: .2s;
	transition: .2s;
}

/* ---------- */

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #333;
}

p {
	margin-bottom: .5em;
}
a {
	color: #37a1f2;
}
	a:hover {
		color: #f38c00;
	}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #1867a4;
}
	h1 {
		font-size: 2.15em;
		line-height: 2em;
		color: #fff;
		text-shadow: 0 3px 4px rgba(0,0,0,.28);
		text-align: center;
	}
	h2 {
		font-size: 1.7em;
		line-height: 1.4em;
		margin-bottom: .5em;
	}
	h3, h4 {
		font-size: 1.15em;
		line-height: 1.1em;
		margin-bottom: .5em;
	}
		h4 {
			color: #999;
		}

.cta {

}
.cta-3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.15em;
	line-height: 1em;
	color: #666;
	text-decoration: none;
	padding: .6em 1.1em;
	border-radius: 50px;
	border: 2px solid #666;
	display: inline-block;
}
	.cta-3:hover {
		color: #fff;
		background-color: #2b4e6a;
		border-color: #2b4e6a;
	}

/* Section codes */
section {
	width: 100%;
	display: block;
}
	.content-wrapper {
		width: 90%;
		max-width: 960px;
		margin: 0 auto;
	}

/* Footer */
#ft-main-content {
	background-color: #202c35;
	padding: 4.5em 0;
	display: block;
}
#ft-copyright {
	font-size: .7em;
	line-height: 1em;
	text-align: center;
	color: #455663;
	background-color: #1a2229;
	padding: 2.4em 0 2em;
	display: block;
}